<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group" ng-repeat="mas in pageMaster">
                <h3 >{{mas.companyName}}</h3>
                <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/"/>
                 <span uib-rating style="color: #ffff00" ng-model="result" max="max" read-only="true"></span>
                 Result: <b>{{result}}</b><br>
                <p class="form-control-static">Марки машин:{{mas.cars}}</p>
                <p class="form-control-static">Виды услуг: {{mas.services}}</p>
                <address>{{mas.chosenPlace.FormattedAddress + ", "+ mas.house}}</address>
                <button id="telephone" class="glyphicon glyphicon-phone-alt" ng-click="getTelephone(mas.companyTelephone)"> Telephone</button>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="form-inline">

                <ol class="list-unstyled">
                    <li ng-repeat="comm in comments">
                        <div class="form-group">
                            <blockquote>
                               <span class="glyphicon glyphicon-user"> {{comm.userName}}</span>
                                <p>{{comm.date|date:'yyyy-MM-dd HH:mm:ss'}}</p>
                            </blockquote>
                            <h4>{{comm.masterName}}</h4>
                             <span uib-rating style="color: #ffff00" ng-model="comm.rate" max="max" read-only="true"></span>
                            Rate: <b>{{comm.rate}}</b><br>
                            <p>{{comm.comment}}</p>
                        </div>
                    </li>
                </ol>

            </div>
        </div>
    </div>
    <div class="container">
        <form>
            <div class="form-group">
                <label for="comment">{{Name}}, write your comment</label><br>
                <span uib-rating style="color: #ffff00" ng-model="rate" max="max" read-only="isReadonly"
                ng-click="hoveringOver(rate)">
                </span>
                Rate: <b ng-disabled="isReadonly">{{rate}}</b>
                <textarea class="form-control" rows="5" id="comment" ng-model="comment.comment"></textarea>
            </div>
            <button type="button" class="btn btn-default" ng-click="saveComment()">Save</button>
        </form>
    </div>
</div>