
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div id="exampleTitle1">
                <h1>Personal account Client</h1>
            </div>
            <table class="table table-striped">
                <tr ng-repeat="one in user">
                    <td>Your name</td>
                    <td>
                        <input type="text" class="form-control" id="exampleInputName" ng-init="client.name = one.name;" ng-model="client.name" required />
                    </td>
                </tr>

                <tr ng-repeat="one in user">
                    <td>Choice car</td>
                    <td>
                        Mark
                        <select class="form-control" id="exampleSelectVehicle"  ng-model="carItem" ng-change="myFunc(carItem)" ng-options="y.title for (x, y) in cars">
                        </select>
                        Model
                        <select class="form-control" id="exampleSelectModel"  ng-model="markItem">
                            <option ng-repeat="m in marks">{{m.title}}</option>
                        </select>
                        Year
                        <input type="datetime" class="form-control" id="exampleInputTime"
                               placeholder="like: 2015"
                               ng-model="yearItem" required>
                        Engine displacement
                        <input type="text" class="form-control" id="exampleInputText"
                               placeholder="like: 2.8"
                               ng-model="volumeItem" required>
                        <input type="button" class="btn btn-default" ng-click="addItem(carItem, markItem, yearItem, volumeItem)" value="add"><br><br>
                        <li ng-repeat="item in arrayCarsM track by $index" >{{item}}<span ng-click="removeItem($index)" style="color: red"> X</span></li>

                    </td>
                </tr>
                <tr ng-repeat="one in user">
                    <td>Logo</td>
                    <td>
                        <div class="form-inline">
                            <input type="file" oi-file="options" class="form-control" id="exampleInputLogo" ng-model="client.logo" />
                            <input type="button" class="btn btn-default" ng-click="addImg(client.logo)" value="add">
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="aut in authorization">
                    <td>Email</td>
                    <td>
                        <input type="text" class="form-control" id="exampleInputName10"
                               ng-init="auth.email = aut.email;" ng-model="auth.email" required />
                    </td>
                </tr>
                <tr ng-repeat="aut in authorization">
                    <td>Password</td>
                    <td>
                        <input type="password" class="form-control" id="exampleInputPass"
                               ng-init="auth.password = aut.password;" ng-model="auth.password" required />
                    </td>
                </tr>
            </table>
            <button type="button" class="btn btn-default btn-sm btn-block" ng-repeat="aut in authorization" ng-click="updateClient(aut.id)">Save chances</button>
            <br>
        </div>
    </div>
</div>