
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div id="exampleTitle1">
                <h1>Registration Client</h1>
            </div>
            <form ng-submit="addClient()" role="form">
                <div class="form-group">
                    <label for="exampleInputName">
                        Name
                    </label>
                    <input type="text" class="form-control" id="exampleInputName" ng-model="client.name" required />
                </div>
                <!--<h1>You selected: {{client.name}}</h1>-->
                <label for="exampleSelectVehicle">
                    Your cars
                </label>
                <div class="form-inline">
                    <div class="form-group">
                        Vehicle
                        <select class="form-control" id="exampleSelectVehicle"  ng-model="carItem" ng-change="myFunc(carItem)" ng-options="y.title for (x, y) in cars">
                            <!--|unique:'make'-->
                        </select>
                    </div>
                    <div class="form-group">
                        Model
                        <select class="form-control" id="exampleSelectModel"  ng-model="markItem">
                            <option ng-repeat="m in marks">{{m.title}}</option>
                        </select>
                    </div>
                    </div>
                <div class="form-inline">
                <div class="form-group">
                        Year
                        <input type="datetime" class="form-control" id="exampleInputTime"
                               placeholder="like: 2015"
                               ng-model="yearItem" required>
                    </div>
                    <div class="form-group">
                        Engine displacement
                        <input type="text" class="form-control" id="exampleInputText"
                               placeholder="like: 2.8"
                               ng-model="volumeItem" required>
                    </div>
                    <input type="button" class="btn btn-default" ng-click="addItem(carItem, markItem, yearItem, volumeItem)" value="add"><br>
                    <li ng-repeat="item in arrayCarsM track by $index" >{{item}}<span ng-click="removeItem($index)" style="color: red"> X</span></li>

                </div><br>
                <div class="form-group">
                    <label for="exampleInputEmail1">
                        Email address
                    </label>
                    <input type="email" class="form-control" id="exampleInputEmail1" ng-model="auth.email" required/>
                </div>
                <button type="submit" class="btn btn-default">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>